logs
tmp
wiExtract/
wiCompute/

*~
*.class
*.log
*.~lock.*

bin/
conf/app_version.txt

project/project
project/target
public/temp
public/reports/*.ttl
public/reports/*.csv

.target
.history

dist

/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

# Latex specific
*.bbl
*.blg
*.aux
*.log
*.out

# Sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.project
.classpath
.cache
.DS_Store

# Git specific
*.orig

#Virtuoso properties
*/virtuoso.properties
