@(param: Any)(implicit flash: Flash)

<div id="frontforms">
	
	<div>
		@helper.form(action = routes.FileUploadController.byFileUploadPOST, 'enctype -> "multipart/form-data") {
	      	<p class="instructions">
	      		<label title="Choose a Local File to Upload and Validate" for="uploaded_file">File:</label>
	      		<input type="file" id="uploaded_file" name="uploaded_file"/>
	      	</p>
			<p class="submit_button">
				<input type="submit" title="Submit for validation" value="Check" class="button"/>
			</p>
		}
	</div>
</div>