@(param: Any)(implicit flash: Flash)

<div id="frontforms">
	
	<div>
		@helper.form(action = routes.FileUploadController.byFileUploadPOST, 'enctype -> "multipart/form-data") {
	      	<p class="instructions">
	      		<label title="Choose a Local File to Upload and load Web Index structure" for="structure_file">Structure file:</label>
	      		<input type="file" id="structure_file" name="structure_file"/>
	      	</p>
	      	<p class="instructions">
	      		<label title="Choose a Local File to Upload and load Web Index observations" for="observations_file">Observations file:</label>
	      		<input type="file" id="observations_file" name="observations_file"/>
	      	</p>
	      	<p class="instructions">
	      		<label title="Load generated ttl file into the triple-store" for="load_file">Upload dataset.ttl to the Triple Store:</label>
	      		<input type="checkbox" value="1" id="load_file" name="load_file"/>
	      	</p>
			<p class="submit_button">
				<input type="submit" title="Submit for validation" value="Check" class="button"/>
			</p>
		}
	</div>
</div>