@(fileForm: Form[FileForm])(implicit flash: Flash)

@main("Structure file upload") {
<div id="frontforms">
	
	<div>
		@helper.form(action = routes.FileUploadController.byFileUploadPOST, 
			'enctype -> "multipart/form-data", 
			'oninput->"uri.value = base_uri.value + '/v' + year_uri.value + '/' + namespace_uri.value") {
			<div class="">
		      	<p class="instructions">
		      		<label title="Choose a Local File to Upload and load Web Index structure" for="structure_file">Structure file:</label>
		      		<input type="file" id="structure_file" name="structure_file"/>
		      	</p>
	      	</div>
	      	<div class="">
		      	<p class="instructions">
		      		<label title="Choose a Local File to Upload and load Web Index observations" for="observations_file">Observations file:</label>
		      		<input type="file" id="observations_file" name="observations_file"/>
		      	</p>
	      	</div>
	      	<hr/>
	      	<p class="instructions">
	      		<label for="uri">Namespace:</label>
	      		<output name="uri"></output>
	      	</p>
			@fileForm.forField("base_uri"){value =>
				<p class="instructions @if(value.hasErrors){error}">
					<label for="base_uri">Base Uri:</label>
					<span class="message">@for(error<-value.errors){@Messages(error.message,error.args: _*)}</span>
					<input list="base_uri" type="url" name="base_uri" value="@value.value"/>
					<datalist id="base_uri">
						<option>http://data.webfoundation.org</option>
					</datalist>
				</p>
			}
			@fileForm.forField("year_uri"){value =>
				<p class="instructions @if(value.hasErrors){error}">
					<label for="year_uri">Year:</label>
					<span class="message">@for(error<-value.errors){@Messages(error.message,error.args: _*)}</span>
					<input list="year_uri" type="number" name="year_uri" value="@value.value"/>
					<datalist id="year_uri">
					@for(year <- 2001 to 2013){<option value="@year">}
					</datalist>
				</p>
				}
			@fileForm.forField("namespace_uri"){value =>
				<p class="instructions @if(value.hasErrors){error}">
					<label for="namespace_uri">NameSpace:</label>
					<span class="message">@for(error<-value.errors){@Messages(error.message,error.args: _*)}</span>
					<input list="namespace_uri" type="text" name="namespace_uri" value="@value.value"/>
					<datalist id="namespace_uri">
					   <option value="webindex">
					   <option value="odb">
					</datalist>
				</p>
			}
	      	<p class="instructions">
	      		<label title="Load generated ttl file into the triple-store" for="load_file">Upload dataset.ttl to the Triple Store:</label>
	      		<input type="checkbox" value="1" id="load_file" name="load_file"/>
	      	</p>
	      	<div class="@if(fileForm.hasErrors) {error}">
	      		@for(error <- fileForm.globalErrors){
	      			<span class="errors">@error.message</span>
	      		}
	      	</div>
			<p class="submit_button">
				<input type="submit" title="Submit for validation" value="Check" class="button"/>
			</p>
		}
	</div>
</div>
}