@(title: String)(content: Html)
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" >
<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=900" />
		<title>wiFetcher</title>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/foundation.css")" />
        <link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/base.css")"></script>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/results.css")"></script>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/site.css")" />
        <link rel="icon" type="image/png" href="@routes.Assets.at("images/weso.png")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/prettify.css")" />
        <script type="text/javascript" src="@routes.Assets.at("javascripts/highlighter/prettify.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/highlighter/lang-sparql.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")"></script>
        <link href="http://fonts.googleapis.com/css?family=Advent+Pro:200" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Raleway:400" rel="stylesheet" type="text/css">
    </head>
    <body onload="prettyPrint()">
        @content
    </body>
</html>
